<%= form_for @post do |f| %>
  <p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  </p>
  <p>
  <%= collection_select(f,:category_id,@categories,:id,:name) %>
  </p>
  <p>
  <%= f.text_area :content,cols: "100", rows: "20" %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
